.video-player{style: "height: #{@widget.height}px; max-width: #{@widget.width}px;"}
  %video.video-player.projekktor{id: @widget.id, poster: @widget.poster && cms_url(@widget.poster), data: { autoplay: @widget.autoplay }}
    %source{src: cms_url(@widget.source), type: @widget.mime_type}